h1{ text-align: center;}

h5{
 border-bottom: 2px solid #FFF;
 margin-top: 20px;
}

.header {
  overflow: hidden;
  padding: 20px 10px;
}

.title-page-alert{
  font-weight: bold;
  color: #900;
}

.width24{ width: 24%;}
.width99{ width: 98% !important;}

.painel-black{
  background:#565151;
  color: #fff;
}

.panel {
  float: left;
  margin-left: 10px;
}

.titulo{ 
  text-align: center;
  border-top-right-radius: 25px;
  border-top-left-radius:25px;
  color: #fff;
  font-size: 25px;
  padding-top: 20px !important;
  font-weight: bold;
}

.right{
  text-align: right;
  width: 20%;
}

.red{
  background: #b90c0c !important;
  color: #FFF !important;
  text-align: left !important;
}

.light-green{
  background: #51ad51 !important;
  color: #FFF !important;
  text-align: left !important;
}

#btnRed {
  background: radial-gradient(circle closest-side,#f00 0%,#f00 98%,rgba(0,0,0,0) 100%);
}

#btnGreen {
  background: radial-gradient(circle closest-side,#186922 0%,#186922 98%,rgba(0,0,0,0) 100%);
}

#btnYellow {
  background: radial-gradient(circle closest-side,#f5f91b 0%,#f5f91b 98%,rgba(0,0,0,0) 100%);
}

.icons{
  color: red;
  position: relative;
}


.app-header{
  background: #178F8D;
  color: #fff;
  margin-bottom: 0px;
  height: 39px;
  padding-top: 30px;
  font-size: 23px;
}

.app-header > strong{
  margin-top: 10px;
}
.sub-title{
  background: #FFF !important;
  color: #000 !important;
  font-size: 12px;
}
.text-center{
  text-align: center !important;
}

.text-left{
  text-align: left;
}


.app-table-info{
 background: #E6E7E9;
 color: #3A3A3A;
 width:100%;
}
.app-table-info th,
.app-table-info td{
 padding:8px;
 border-bottom:1px solid #fff;
}
.app-table-info th{
 background: #BEBFC1;
 color: #178F8D;
}
.app-table-info td{
 height:60px;
}
.app-table-info tr:first-child td:first-child{
 vertical-align:top;
 border-right:6px solid #fff;
}
.app-table-info td:last-child{
 border-left:6px solid #fff;
}

  /* 
  ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
    */

    @media (min-width: 1281px) {

      .panel {
        width: 24%;
      }

    }


  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
    */

    @media (min-width: 1025px) and (max-width: 1280px) {

      .panel {
        width: 49%;
      }

      .width99{
        width: 99%;
      }
    }

  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
    */

    @media (min-width: 768px) and (max-width: 1024px) {

      .panel {
        width: 100% !important;
      }
    }

  /* 
  ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
    */

    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

      .panel {
        width: 100%;
      }
      
    }

  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
    */

    @media (min-width: 481px) and (max-width: 767px) {

      .panel {
        width: 100%;
      }

      .header > img {
        margin: 0 0 0 37%;
      }
      .header h1 {
        float: none;
        font-size: 22px; 
      }

    }

    /* 
     ##Device = Most of the Smartphones Mobiles (Portrait)
     ##Screen = B/w 320px to 479px
     */

     @media (min-width: 320px) and (max-width: 480px) {

      .panel {
        width: 100%;
      }

      .header > img {
        margin: 0 0 0 35%;
        width: 50px;
        height: 50px;
      }
      .header h1 {
        float: none;
        padding-top: 33px;
        font-size: 18px;
      }

    }