h1{ text-align: center;}


.header h1{
  position: relative;
  text-align: center;
  color: #fff;
  width: 97%;
  background: #753a8a;
  margin-left: 11px;
}

.title{
  background-color: #753a8a;
  font-size: 14px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 3px 10px;
  width: 100%;
  /*color: #000;*/
  text-align: center;
}

.title-page-alert{
  font-weight: bold;
  color: #900;
}

.width24{ width: 24%;}
.width99{ width: 98% !important;}

.painel-black{
  background:#000;
  color: #fff;
}

.panel {
  display: table;
  float: left;
  margin-left: 10px;
  margin-bottom: 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 10px;
  background-color: #1f1e1e;
}
.panel:hover{
  -webkit-box-shadow: 5px 4px 22px 0px rgba(87, 90, 94, 0.57);
  -moz-box-shadow:    5px 4px 22px 0px rgba(87, 90, 94, 0.57);
  box-shadow:         5px 4px 22px 0px rgba(87, 90, 94, 0.57);
  transition: 0.5s ease-in;
}

.panel > div { display: table-row; }
.panel > div > div { display: table-cell; padding: 5px 5px; }

.panel-heading > .titulo{ 
  display: block;
  text-align: center;
  border-top-right-radius: 25px;
  color: #fff;
  height: 11px;
  font-weight: bold;
  font-size: 15px;
}

.panel-heading{ 
  background-color: #753a8a;
}

.panel-body > table {
  margin: 11px 0px 0px 10px;
}

td.column {
  width: 5%;
}

.right{
  text-align: right;
  width: 20%;
}

#btnRed {
  background: radial-gradient(circle closest-side,#f00 0%,#f00 98%,rgba(0,0,0,0) 100%);
}

#btnGreen {
  background: radial-gradient(circle closest-side,#186922 0%,#186922 98%,rgba(0,0,0,0) 100%);
}

#btnYellow {
  background: radial-gradient(circle closest-side,#f5f91b 0%,#f5f91b 98%,rgba(0,0,0,0) 100%);
}

/* 
##Device = Desktops
##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

  .panel {
    width: 32%;
  }

}


/* 
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  .panel {
    width: 49%;
  }

  .width99{
    width: 99%;
  }

  .header h1 {
    padding: 20px 0 0 0px;
    font-size: 22px;
    width: 99%; 
  }
}

/* 
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  .panel {
    width: 100% !important;
  }
}

/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  .panel {
    width: 100%;
  }

  .header h1 {
    padding: 20px 0 0 0px;
    font-size: 22px;
    width: 100%; 
  }
  
}

/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  .panel {
    width: 100%;
  }

  .header h1 {
    padding: 20px 0 0 0px;
    font-size: 22px;
    width: 100%; 
  }

}

/* 
 ##Device = Most of the Smartphones Mobiles (Portrait)
 ##Screen = B/w 320px to 479px
 */

 @media (min-width: 320px) and (max-width: 480px) {

  .panel {
    width: 100%;
  }

  .header h1 {
    padding: 20px 0 0 0px;
    font-size: 22px;
    width: 100%; 
  }

}